@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --foreground-rgb: 0, 0, 0;
    --background-start-rgb: 214, 219, 220;
    --background-end-rgb: 255, 255, 255;
    --background:#231f20;
    /* --background:#7b7b7b; */
  }
  
  body{
    background-color: var(--background);
    color: white;
  }
  *{
    font-size: 18px;
    box-sizing: border-box;
  }